<CascadingValue Value="Theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    
    <MudThemeProvider Theme="Theme" IsDarkMode="true" />
    <MudDialogProvider />
    <MudSnackbarProvider />
</CascadingValue>

@code
{
    public MudTheme Theme { get; set; } = new()
        {
            Palette = new PaletteLight
            {
                Black = "#272c34ff",
                Primary = "#0078d7",
                Secondary = "#FEB16B",
                Success = "#A4D266",
                Warning = "#FEB16B",
                Dark = "#303030",
                Info = "#4889CD",
                Error = "#EA4F52",
                Surface = "#f0f0f0",
                Background = "#f0f0f0",
                BackgroundGrey = "#f5f5f5ff",
                DrawerBackground = "#f0f0f0",
                DrawerText = "#424242ff",
                DrawerIcon = "#616161ff",
                AppbarBackground = "#0078d7",
                AppbarText = "#ffffffff",
                TextPrimary = "#424242ff",
                TextSecondary = "#00000089",
                ActionDefault = "#00000089",
                ActionDisabled = "#00000042",
                ActionDisabledBackground = "#0000001e",
                Divider = "#e0e0e0ff",
                DividerLight = "#000000cc",
                TableLines = "#e0e0e0ff",
                LinesDefault = "#0000001e",
                LinesInputs = "#bdbdbdff",
                TextDisabled = "#00000060"
            },
            PaletteDark = new PaletteDark
            {
                Black = "#000000",
                Primary = "#54A68F",
                Secondary = "#FEB16B",
                Success = "#A4D266",
                Warning = "#FEB16B",
                Dark = "#303030",
                Info = "#4889CD",
                Error = "#EA4F52",
                Surface = "#303030",
                Background = "#212121",
                BackgroundGrey = "#303030",
                DrawerBackground = "#303030",
                DrawerText = "#FFFFFF",
                DrawerIcon = "#FFFFFF",
                AppbarBackground = "#303030",
                AppbarText = "#FFFFFF",
                TextPrimary = "#FFFFFF",
                TextSecondary = "#FFFFFF",
                ActionDefault = "#adadb1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)",
                Divider = "rgba(255,255,255, 0.12)",
                DividerLight = "rgba(255,255,255, 0.06)",
                TableLines = "rgba(255,255,255, 0.12)",
                LinesDefault = "rgba(255,255,255, 0.12)",
                LinesInputs = "rgba(255,255,255, 0.3)",
                TextDisabled = "rgba(255,255,255, 0.2)"
            },
            Typography = new Typography
            {
                Default = new Default
                {
                    FontSize = "1em"
                },
                Body1 = new Body1
                {
                    FontSize = "1em"
                },
                Body2 = new Body2
                {
                    FontSize = ".83em"
                },
                Caption = new Caption
                {
                    FontSize = "1.12em",
                    FontWeight = 550
                },
                Overline = new Overline
                {
                    FontSize = "1.12em",
                    FontWeight = 550
                },
                H1 = new H1
                {
                    FontSize = "2em",
                    FontWeight = 700
                },
                H2 = new H2
                {
                    FontSize = "1.5em",
                    FontWeight = 650
                },
                H3 = new H3
                {
                    FontSize = "1.17em",
                    FontWeight = 600
                },
                H4 = new H4
                {
                    FontSize = "1.12em",
                    FontWeight = 550
                },
                H5 = new H5
                {
                    FontSize = ".83em",
                    FontWeight = 500
                },
                H6 = new H6
                {
                    FontSize = ".75em",
                    FontWeight = 450
                },
                Subtitle1 = new Subtitle1
                {
                    FontSize = "3em",
                    FontWeight = 650
                },
                Subtitle2 = new Subtitle2
                {
                    FontSize = "1.17em",
                    FontWeight = 600
                }
            }
        };
}
